<!-- Header part -->
<%- include("header") -%>



<section>
  <script>
  const patient_id = "<%= pat_id%>"
  const doctor_id = "<%= doc_id %>"
  const myId = "<%=pat_id%><%=doc_id%>";
</script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script defer src="/client.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <div>
       <h1 id="patient_id">Doctor Name is : <%= doc_id %></h1>
      <br><br><br><br>
    </div>
    <div class="container">
<br><br><br><br><br><br><br><br>
    </div>
    <div class="send">
    <iframe name="votar" style="display:none;"></iframe>
        <form action="/chat/<%= doc_id %><%= pat_id %>" method="POST" target="votar">
            <input type="text" name="messageInp" id="messageInp">
            <button class="btn" type="submit">Send</button>
        </form>
        <form action="/videoChat/<%= doc_id%><%= pat_id %>" method="POST"  target="votar">
            <button class="btn" name="button" value="call" type="submit">VideoCall doctor</button>
        </form>
        <div id="video-grid"></div>
    </div>
    <br><br><br><br><br><br><br><br>
</section>

<!-- Header part -->
<%- include("footer") -%>