<%- include("header2") -%>


<section class="footer-spacing">
  <div class="container">
    <div class="mt-5 mb-3">

      <a href="/Neurologist"><button class="btn btn-primary mx-4">Neurologist</button></a>
      <a href="/Cardiologist"><button class="btn btn-primary mx-4">Cardiologist</button></a>
      <a href="/Dermatologist"><button class="btn btn-primary mx-4">Dermatologist</button></a>
      <a href="/Dentist"><button class="btn btn-primary mx-4">Dentist</button></a>
      <a href="/Pediatricians"><button class="btn btn-primary mx-4">Pediatricians</button></a>
      <a href="/Gynecologist"><button class="btn btn-primary mx-4">Gynecologist</button></a>
    </div>
    <div class="mt-5 mb-4">
      <a href="/GeneralPhysician"><button class="btn btn-primary mx-4">General Physician</button></a>
      <a href="/Dermatologist"><button class="btn btn-primary mx-4">Dermatologist</button></a>
      <a href="/GeneralSurgeon"><button class="btn btn-primary mx-4">General Surgeon</button></a>
      <a href="/ENTSpecialist"><button class="btn btn-primary mx-4">ENT Specialist</button></a>
      <a href="/Orthopaedist"><button class="btn btn-primary mx-4">Orthopaedist</button></a>
    </div>

    <div>
      <form class="" action="/search" method="post">
        <input type="text" name="profession" placeholder="Type Here to Search">
        <button type="submit" name="button" class="btn btn-primary mx-3 my-3">Search</button>
      </form>
    </div>
  </div>


  <!-- <div class="container"> -->
  <div class="container mb-5">
    <div class="box" id="heading">
      <h1>Search Results</h1>
    </div>
  </div>

  <% doctorArray.forEach(function(user){ %>
    <div class="card rounded box">
      <div class="card-body light-bg-color">
        <div>
          <p>Name: <%= user.profiled.name %> <br>
            Profession: <%= user.profiled.profession %> <br>
            Qualification: <%= user.profiled.qualification %> <br>
            Experience: <%= user.profiled.experience %>
          </p>

        </div>
        <div>
          <img class="img-fluid light-bg-color" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
        </div>


        <form action="/bookAppointment-sender" method="post">
          <button type="submit" class="btn btn-primary sub-title mt-5 mb-4" name="docid" value=<%=user._id%>  >Book Appointment </button>
        </form>
      </div>
    </div>
    <% }) %>

</section>


<%- include("footer") -%>
